# Core dependencies
asyncio-mqtt==0.16.1
pydantic==2.8.2
asyncpg==0.29.0
aio-pika==9.4.3
python-dotenv==1.0.1

# Computer vision and ML
# torchvision==0.19.0
transformers==4.44.0
hf_transfer==0.1.9
pillow==10.4.0
numpy==1.26.4
opencv-python==4.10.0.84
ultralytics==8.3.179

kornia==0.7.2
timm==1.0.9

# Testing
pytest==7.4.3
pytest-asyncio==0.23.7
