aio-pika==9.4.3
asyncpg==0.29.0
pydantic==2.8.2
yt-dlp # ==2025.09.26 # Need latest
opencv-python==4.10.0.84
numpy==1.26.4
python-dotenv==1.0.1
playwright==1.43.0

# TikTok crawler dependencies
sse-starlette==1.6.4
